@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

/* Corpo del testo */
.reveal {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Titolo (h1) */
.reveal h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.1;
}

/* Sottotitolo (h2) */
.reveal h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.15;
}